<!DOCTYPE html>
<html>
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KXGSPKZ');</script>
<!-- End Google Tag Manager -->
<title>Remote Learners</title>
<meta charset="utf-8">
<link rel="shortcut icon" type="image/png" href="/assets/favicon-laptop.ico"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/about.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXGSPKZ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<a href="/" class="navbar-item logo_name"><i class="fas fa-laptop" style="color: #F79F66;"></i>&nbsp;Remote Learners</a>
				</div>
				<div class="navbar-menu is-active" id="navMenu">
					<div class="navbar-start">
						<a href="/" class="navbar-item">Frontpage</a>
						<a href="/resources" class="navbar-item">Resources</a>
					</div>

					<div class="navbar-end is-centered">
						<%if(user){%>
						<div class="navbar-item">
							<a href="https://remotelearners.slack.com" target="_blank" class="navbar-item">Chat</a>
						</div>
						<div class="navbar-item">
							<a href="/<%=user.slackID%>">
								<figure class="image user_img">
									<img src="<%=user.img%>" style="border-radius: 50%;max-height: 48px;">
								</figure>
							</a>
						</div>
						<div class="navbar-item">
							<a href="/users/logout" class="navbar-item">Logout</a>
						</div>
						<% } else { %>
						<a target="_blank" href="/users/login" class="navbar-item"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
						<span class="navbar-item">
							<a data-target="joinModal" class="button is-success is-rounded joinModalButton">
								<span>Join Us</span>
							</a>
						</span>
						<%}%>
					</div>
				</div>
			</div>
		</nav>
		<div class="columns is-multiline">
			<div class="column is-12 about_title_section">
				<div class="column is-10 is-offset-1 about_hero">
					<h5>Remote Learners is</h5><h1>the platform where self-directed learners come to learn from each other while staying productive.</h1>
				</div>
			</div>
			<div class="column is-12 about_section about_info_section">
				<div class="column is-8 is-offset-2 about_info">
					<h4>Why you will love&nbsp;<i class="fas fa-heart" style="color: #BE1931;"></i>&nbsp;the community</h4>
					<p>- Have you ever signed up for 10 online courses and never finished any of them?<br>
						- Have you ever left learning something before you could master it because it got hard?<br>
						- Do you ever find yourself procrastinating on learning something that you know will be valuable to you?<br>
						- Do you easily lose motivation while learning something?<br>
						- Do you want to become a productive learner?<br>
					</p>
					<br>
					<p>If so, you’re in the right place.</p>
				</div>
			</div>
			<div class="column is-12 about_section about_chat_section">
				<div class="column is-10 is-offset-1 about_chat">
					<div class="columns is-multiline">
						<div class="column is-6 about_chat_info">
							<h4>Connecting learners from all over the world</h4>
							<p>
								Join a topic channel or create one that suits the topic you are learning the best and invite others to learn with you. Ask questions, discuss things and ask for help from fellow learners while having meaningful conversations.
							</p>
						</div>
						<div class="column is-4 about_chat_img">
							<img src="/assets/app-screenshot.png">
						</div>
					</div>
				</div>
			</div>
			<div class="column is-12 about_section about_task_section">
				<div class="column is-10 is-offset-1 about_task">
					<div class="columns is-multiline">
						<div class="column is-12">
							<h4>Effective to-learn list system to help you stay productive and motivated</h4>
						</div>
						<div class="column bot_task">
							<h5>Create and track to-learn tasks right from the chat using simple slash commands.</h5>
							<img src="/assets/bot_screenshot2.png">
						</div>
						<div class="column about_streak">
							<h5>Keep learning and complete at least one to-learn task every day and you will earn a streak as a badge of accomplishment.</h5>
							<img src="/assets/streak_screenshot.png">
						</div>
					</div>
				</div>
			</div>
			<div class="about_footer">
				<div class="about_footer_inner">
					<h5>Ready to start learning?</h5>	
					<a data-target="joinModal" class="button is-success is-rounded joinModalButton">
						<span>Join Us</span>
					</a>
				</div>
			</div>
			<div class="modal" id="joinModal">
				<div class="modal-background"  data-target="joinModal"></div>
				<div class="modal-content">
					<div class="join_form_modal">
						<div class="join_form_modal_content">
							<h1 class="title">
								Join our community of self-directed learners learning together.
							</h1>
							<form action="/users/join" method="POST" class="formAbout">
								<div class="field has-addons">
									<div class="control">
										<input name="email" type="text" class="input is-rounded" placeholder="Email">  
									</div>
									<div class="control">
										<button type="submit" class="button is-success is-rounded">Get Invited</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<button class="modal-close is-large"  data-target="joinModal" aria-label="close"></button>
			</div>
		</div>
	</body>
	</html>