<!DOCTYPE html>
<html>
<head>
	<title>Remote Learners</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="/assets/favicon-laptop.ico"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/css/style.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
</head>
<body>
	<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a href="/" class="navbar-item logo_name"><i class="fas fa-laptop" style="color: #F79F66;"></i>&nbsp;Remote Learners</a>
			</div>
			<div class="navbar-menu is-active" id="navMenu">
				<div class="navbar-start">
					<a href="/" class="navbar-item">Frontpage</a>
				</div>

				<div class="navbar-end is-centered">
					<%if(user){%>
					<div class="navbar-item">
						<a href="https://remotelearners.slack.com" target="_blank" class="navbar-item">Chat</a>
					</div>
					<div class="navbar-item">
						<a href="/<%=user.slackID%>">
							<figure class="image user_img">
								<img src="<%=user.img%>" style="border-radius: 50%;max-height: 48px;">
							</figure>
						</a>
					</div>
					<a href="/users/logout" class="navbar-item">Logout</a>
					<% } else { %>
					<a target="_blank" href="/users/login" class="navbar-item"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
					<span class="navbar-item">
						<a data-target="joinModal" class="button is-success is-rounded joinModalButton">
							<span>Join Us</span>
						</a>
					</span>
					<%}%>
				</div>
			</div>
		</div>
	</nav>
	<%if(error && message){%>
	<h1 style="text-align: center;"><%=message%></h1>
	<h2 style="text-align: center;"><%=error.status%></h2>
	<%}%>
</body>
</html>