<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KXGSPKZ");
    </script>
    <!-- End Google Tag Manager -->
    <title>Remote Learners</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="We are a community of self-directed learners learning together."
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/assets/favicon-laptop.ico"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Remote Learners Club" />
    <meta
      property="og:image"
      content="https://remotelearners.club/assets/meta_img.png"
    />
    <meta
      property="og:description"
      content="We are a community of self-directed learners learning together."
    />
    <meta property="og:url" content="https://remotelearners.club/" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.16/moment-timezone-with-data-2012-2022.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
      integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
      crossorigin="anonymous"
    ></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KXGSPKZ"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div>
      <div class="columns">
        <section class="hero column is-full">
          <!-- Hero head: will stick at the top -->

          <div class="hero-head">
            <nav
              class="navbar is-transparent"
              role="navigation"
              aria-label="main navigation"
            >
              <div class="container">
                <div class="navbar-brand">
                  <a href="/" class="navbar-item logo_name"
                    ><i class="fas fa-laptop" style="color: #f79f66"></i
                    >&nbsp;Remote Learners</a
                  >
                  <!-- <div class="navbar-burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div> -->
                </div>
                <div class="navbar-menu is-active" id="navMenu">
                  <div class="navbar-start">
                    <a href="/" class="navbar-item">Frontpage</a>
                    <a href="/resources" class="navbar-item">Resources</a>
                  </div>

                  <div class="navbar-end is-centered">
                    <%if(user){%>
                    <div class="navbar-item">
                      <a
                        class="navbar-item"
                        href="https://remotelearners.slack.com"
                        target="_blank"
                        >Chat</a
                      >
                    </div>
                    <div class="navbar-item">
                      <a href="/<%=user.slackID%>">
                        <figure class="image user_img">
                          <img
                            src="<%=user.img%>"
                            style="border-radius: 50%; max-height: 48px"
                          />
                        </figure>
                      </a>
                    </div>
                    <div class="navbar-item">
                      <a href="/users/logout" class="navbar-item">Logout</a>
                    </div>
                    <% } else { %>
                    <a target="" href="/users/login" class="navbar-item"
                      ><img
                        src="https://api.slack.com/img/sign_in_with_slack.png"
                    /></a>
                    <span class="navbar-item">
                      <a
                        data-target="joinModal"
                        class="button is-success is-rounded joinModalButton"
                      >
                        <span>Join Us</span>
                      </a>
                    </span>
                    <%}%>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="modal" id="joinModal">
            <div class="modal-background" data-target="joinModal"></div>
            <div class="modal-content">
              <div class="join_form_modal">
                <div class="join_form_modal_content">
                  <h1 class="title">
                    We are a community of self-directed learners learning
                    together.
                  </h1>
                  <form action="/users/join" method="POST" class="formModalNav">
                    <div class="field has-addons">
                      <div class="control">
                        <input
                          name="email"
                          type="text"
                          class="input is-rounded"
                          placeholder="Email"
                        />
                      </div>
                      <div class="control">
                        <button
                          type="submit"
                          class="button is-success is-rounded"
                        >
                          Get Invited
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <button
              class="modal-close is-large"
              data-target="joinModal"
              aria-label="close"
            ></button>
          </div>
          <!-- Hero content: will be in the middle -->
          <div class="columns hero_content">
            <div class="hero-body column is-7 hero_body_index">
              <div class="hero_intro">
                <h1 class="title">
                  We are a community of self-directed learners learning
                  together.
                </h1>
                <div class="join_form">
                  <form action="/users/join" method="POST" class="formHero">
                    <div class="field has-addons">
                      <div class="control">
                        <input
                          name="email"
                          type="text"
                          class="input is-rounded"
                          placeholder="Email"
                        />
                      </div>
                      <div class="control">
                        <button
                          type="submit"
                          class="button is-success is-rounded"
                        >
                          Get Invited
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="learnmorediv">
                  <a href="/about" class="button is-rounded">Learn More</a>
                </div>
              </div>
            </div>
            <div class="hero-body column is-5 hero_body_index">
              <div class="hero-screenshot">
                <img src="/assets/app-screenshot.png" />
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- <div class="columns channels">
    <% channels.forEach(function(channel){ %>
    <div class="channel_item">
      #&nbsp;<%= channel.channelName%>
    </div>
    <%});%>
  </div> -->
      <div class="columns">
        <section class="section column is-full">
          <div class="main_container">
            <%- messages('message', locals) %> <%if(errors){%> <%
            errors.forEach(function(error) {%>
            <article class="is-danger">
              <div class="error-body"><%= error.msg %></div>
            </article>
            <%})%> <%}%>
            <div class="columns is-variable main_area is-3">
              <div class="column is-3 column_streak">
                <div class="streak">
                  <div class="streak_title">Top Learners 🔥</div>
                  <div class="streak_info">
                    Keep learning for consecutive days to earn a streak.
                  </div>
                  <ul class="streak_items">
                    <% usersStreak.forEach(function(userStreak){ %>
                    <li class="streak_item">
                      <article class="media">
                        <div class="media-left">
                          <a href="/<%=userStreak.slackID%>">
                            <figure class="image user_img">
                              <img src="<%= userStreak.img%>" />
                            </figure>
                          </a>
                        </div>

                        <div class="streak_content">
                          <p>
                            <a href="/<%=userStreak.slackID%>"
                              ><span class="userStreak_name">
                                <%= userStreak.name%>
                              </span></a
                            >
                            <small>
                              <a
                                href="/<%=userStreak.slackID%>"
                                class="streak_badge"
                                >🔥<%= userStreak.streak%></a
                              >
                            </small>
                          </p>
                        </div>
                      </article>
                    </li>
                    <%});%>
                  </ul>
                </div>
              </div>
              <div class="column is-9 column_card">
                <div class="card_parent"></div>
              </div>
              <!--   <div class="column is-2 column_channel">
            <div class="channel_list">
              <h1 class="title has-text-centered">Channels</h1>
              <hr>
              <ul class="channel_items">
                <% channels.forEach(function(channel){ %>
                <li class="channel_item">
                  #&nbsp;<%= channel.channelName%>
                </li>
                <%});%>  
              </ul>
            </div>
          </di -->
            </div>
          </div>
        </section>
        <a target="_blank" class="by" href="https://sahilvasava.com">
          <img src="/assets/sahil.png" />
          <p>by Sahil Vasava</p>
        </a>
      </div>
    </div>
  </body>
</html>
