<!DOCTYPE html>
<html>

<head>
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KXGSPKZ');</script>
	<!-- End Google Tag Manager -->
	<title>
		<%if(userPro){%>
			<%=userPro.name%> on<%}%> Remote Learners
	</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="/assets/favicon-laptop.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.16/moment-timezone-with-data-2012-2022.min.js"></script>
	<script type="text/javascript" src="/javascripts/profile-public.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
		integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
		crossorigin="anonymous"></script>
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXGSPKZ" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a href="/" class="navbar-item logo_name"><i class="fas fa-laptop"
						style="color: #F79F66;"></i>&nbsp;Remote Learners</a>
			</div>
			<div class="navbar-menu is-active" id="navMenu">
				<div class="navbar-start">
					<a href="/" class="navbar-item">Frontpage</a>
					<a href="/resources" class="navbar-item">Resources</a>
				</div>

				<div class="navbar-end is-centered">
					<%if(user){%>
						<div class="navbar-item">
							<a href="https://remotelearners.slack.com" target="_blank" class="navbar-item">Chat</a>
						</div>
						<div class="navbar-item">
							<a href="/<%=user.slackID%>">
								<figure class="image user_img">
									<img src="<%=user.img%>" style="border-radius: 50%;max-height: 48px;">
								</figure>
							</a>
						</div>
						<div class="navbar-item">
							<a href="/users/logout" class="navbar-item">Logout</a>
						</div>
						<% } else { %>
							<a target="_blank" href="/users/login" class="navbar-item"><img
									src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
							<span class="navbar-item">
								<a data-target="joinModal" class="button is-success is-rounded joinModalButton">
									<span>Join Us</span>
								</a>
							</span>
							<%}%>
				</div>
			</div>
		</div>
	</nav>
	<div class="modal" id="joinModal">
		<div class="modal-background" data-target="joinModal"></div>
		<div class="modal-content">
			<div class="join_form_modal">
				<div class="join_form_modal_content">
					<h1 class="title">
						Join our community of self-directed learners learning together.
					</h1>
					<form action="/users/join" method="POST" class="formModalNav">
						<div class="field has-addons">
							<div class="control">
								<input name="email" type="text" class="input is-rounded" placeholder="Email">
							</div>
							<div class="control">
								<button type="submit" class="button is-success is-rounded">Get Invited</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<button class="modal-close is-large" data-target="joinModal" aria-label="close"></button>
	</div>
	<section class="section">
		<%if(userPro){%>
			<div class="container">
				<div class="columns is-variable is-3">
					<div class="column is-3">
						<div class="profile_card">
							<div class="img_div">
								<img src="<%=userPro.img%>" class="profile_img">
							</div>
							<div class="user_details">
								<p>
									<%=userPro.name%>
								</p>
								<div class="badge">
									<a href="/<%=userPro.slackID%>" class="streak_badge">🔥<%= userPro.streak%></a>
								</div>
							</div>
							<div class="buttons">
								<a class="button" href="https://remotelearners.slack.com/messages/<%=userPro.slackID%>"
									target="_blank">Message</a>
							</div>
						</div>
						<!-- <div class="card">
						<div class="card-image">
							<figure class="image is-4by3">
								<img src="<%=userPro.img%>" alt="Placeholder image">
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-content">
									<p class="title is-4"><%=userPro.name%></p>
								</div>
							</div>
					
							<div class="content">
							</div>
						</div>
					</div> -->
						<div class="user_channels_deck">
							<div class="user_channels_title">Channels</div>
							<div class="user_channels">
								<%if(userPro.channel[0]!==null){%>
									<% userPro.channel.forEach(function(channel){ %>
										<div class="channel_item">
											<a href="<%=slackurl%>/messages/<%=channel.channelID%>" target="_blank">#<%=
													channel.channelName%></a>
										</div>
										<%});%>
											<%}%>
							</div>
						</div>
					</div>
					<div class="column is-9">
						<!-- 	<nav class="navbar" role="navigation" aria-label="sub navigation">
						<div class="navbar-menu is-active">
							<div class="navbar-start">
								<a class="navbar-item done" href="/<%=userPro.slackID%>">
									Done
								</a>
								<a class="navbar-item pending" href="/<%=userPro.slackID%>/pending">
									Pending
								</a>
							</div>
						</div>
					</nav -->
						<div class="subnav">
							<a class="subnav_tab subnav_tab_active done" href="/<%=userPro.slackID%>">
								<i class="fas fa-check tick_icon"></i>&nbsp;Done
							</a>
							<a class="subnav_tab pending" href="/<%=userPro.slackID%>/pending">
								⏳&nbsp;Pending
							</a>
						</div>
						<!-- 	<div class="tabs">
						<ul>
							<li class="is-active"><a class="done" href="/<%=userPro.slackID%>">Done</a></li>
							<li><a class="pending" href="/<%=userPro.slackID%>/pending">Pending</a></li>
						</ul>
					</div -->
						<div class="done_list">
						</div>
					</div>
				</div>
			</div>
			<%}%>
	</section>
</body>

</html>