<!DOCTYPE html>
<html>

<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KXGSPKZ');</script>
<!-- End Google Tag Manager -->
<title>Remote Learners</title>
<meta charset="utf-8">
<link rel="shortcut icon" type="image/png" href="/assets/favicon-laptop.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/topic.js"></script>
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXGSPKZ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<%if(topic){%>
		<div class="topic_root">
			<section class="hero">
				<div class="hero-head">
					<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
						<div class="container">
							<div class="navbar-brand">
								<a href="/" class="navbar-item logo_name">
									<i class="fas fa-laptop" style="color: #F79F66;"></i>&nbsp;Remote Learners</a>
								</div>
								<div class="navbar-menu is-active" id="navMenu">
									<div class="navbar-start">
										<a href="/" class="navbar-item">Frontpage</a>
										<a href="/resources" class="navbar-item">Resources</a>
									</div>

									<div class="navbar-end is-centered">
										<%if(user){%>
										<div class="navbar-item">
											<a href="https://remotelearners.slack.com" target="_blank" class="navbar-item">Chat</a>
										</div>
										<div class="navbar-item">
											<a href="/<%=user.slackID%>">
												<figure class="image user_img">
													<img src="<%=user.img%>" style="border-radius: 50%;max-height: 48px;">
												</figure>
											</a>
										</div>
										<div class="navbar-item">
											<a href="/users/logout" class="navbar-item">Logout</a>
										</div>
										<% } else { %>
										<a target="_blank" href="/users/login" class="navbar-item">
											<img src="https://api.slack.com/img/sign_in_with_slack.png" />
										</a>
										<span class="navbar-item">
											<a data-target="joinModal" class="button is-success is-rounded joinModalButton">
												<span>Join Us</span>
											</a>
										</span>
										<%}%>
									</div>
								</div>
							</div>
						</nav>
					</div>
					<div class="hero-body hero_body_topic">
						<div class="container">
							<h1 class="title">
								<%=topic.title%>
							</h1>
						</div>
					</div>
				</section>
				<div class="modal" id="joinModal">
					<div class="modal-background" data-target="joinModal">
					</div>
					<div class="modal-content">
						<div class="join_form_modal">
							<div class="join_form_modal_content">
								<h1 class="title">
									Join our community of self-directed learners learning together.
								</h1>
								<form action="/users/join" method="POST">
									<div class="field has-addons">
										<div class="control">
											<input name="email" type="text" class="input is-rounded" placeholder="Email">
										</div>
										<div class="control">
											<button type="submit" class="button is-success is-rounded">Get Invited</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<button class="modal-close is-large" data-target="joinModal" aria-label="close"></button>
				</div>
				<div class="columns main_columns">
					<section class="section column is-full">
						<div class="main_container">
							<div class="columns is-variable is-3 is-multiline">
								<div class="column is-3">
									<div class="modules">
										<aside class="menu">
											<p class="menu-label">
												Modules
											</p>
											<ul class="menu-list module_list">
											</ul>
										</aside>
										<%if(user){%>
										<a class="button addModuleButton is-rounded" data-target="addModuleModal">
											<i class="fas fa-plus"></i>&nbsp;Add Module</a>
											<%}else{%>
											<a class="button addModuleButton is-rounded" data-target="joinModal">
												<i class="fas fa-plus"></i>&nbsp;Add Module</a>
												<%}%>
												<div class="modal" id="addModuleModal">
													<div class="modal-background" data-target="addModuleModal">
													</div>
													<div class="modal-content">
														<div class="addModule_modal_content">
															<div class="modal_title">
																<h1 class="title">Add Module</h1>
															</div>
															<form action="" class="module_form" data-id="<%=topic._id%>">
																<div class="field">
																	<label class="label">Title</label>
																	<div class="control">
																		<input class="input" type="text" placeholder="e.g.: Html" name="title">
																	</div>
																</div>
																<div class="field">
																	<div class="control">
																		<button class="button is-link" type="submit">Create</button>
																	</div>
																</div>
															</form>
														</div>
													</div>
													<button class="modal-close is-large" data-target="addModuleModal" aria-label="close"></button>
												</div>
											</div>
										</div>
										<div class="column is-9 courses">

											<header class="card-header">
												<p class="menu-label">
													Courses
												</p>
											</header>
											<div class="courses_div">
											</div>
											<%if(user){%>
											<a class="button addCourseButton is-rounded" data-target="addCourseModal">
												<i class="fas fa-plus"></i>&nbsp;Add Course</a>
												<%}else{%>
												<a class="button addCourseButton is-rounded" data-target="joinModal">
													<i class="fas fa-plus"></i>&nbsp;Add Course</a>
													<%}%>
													<div class="modal" id="addCourseModal">
														<div class="modal-background" data-target="addCourseModal">
														</div>
														<div class="modal-content">
															<div class="addCourse_modal_content">
																<div class="modal_title">
																	<h1 class="title">Add Course</h1>
																</div>
																<form action="" class="course_form" data-id="<%=topic._id%>">
																	<div class="field">
																		<label class="label">Title</label>
																		<div class="control">
																			<input class="input" type="text" placeholder="e.g.: Learn Html in 60 minutes" name="title">
																		</div>
																	</div>
																	<div class="field">
																		<label class="label">Url</label>
																		<div class="control">
																			<input class="input" type="text" placeholder="https://www.url.com/path" name="url">
																		</div>
																	</div>
																	<div class="field">
																		<div class="control">
																			<button class="button is-link" type="submit">Create</button>
																		</div>
																	</div>
																</form>
															</div>
														</div>
														<button class="modal-close is-large" data-target="addCourseModal" aria-label="close"></button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
						<%}%>
					</body>

					</html>