html {
  height: 100%;
  background-color: #efefef; }

body {
  height: 100%; }

.resources_root,
.topic_root {
  height: 100%; }

.resources_root .columns,
.topic_root .columns {
  height: inherit; }

.hero {
  background: #0d7e83; }

.learnmorediv {
  margin-top: 1em; }

.learnmorediv a {
  background-color: #443742 !important;
  color: white !important;
  border-color: #443742 !important; }

.learnmorediv > a:hover {
  background-color: #322931 !important;
  color: white !important;
  border-color: #322931 !important; }

.logo_name {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Nunito", "Helvetica", sans-serif; }

.about_section {
  padding: 6rem 2rem; }

.about_hero {
  text-align: center;
  margin-top: 9rem;
  margin-bottom: 9rem; }

.about_hero h5 {
  margin-bottom: 1rem;
  color: #dfe3e6;
  font: 700 1.25rem sans-serif !important; }

.about_hero h1 {
  color: #262d38;
  font: 800 2.4rem sans-serif !important; }

.about_info h4 {
  text-align: center;
  font-weight: 800;
  font-size: 2rem; }

.about_info {
  padding: 1rem 3rem; }

.about_section p {
  font-size: 1.5rem;
  color: #9498a5;
  line-height: 3rem; }

.about_info_section {
  background-color: #efefef; }

.about_title_section,
.about_chat_section,
.about_task_section {
  background-color: white; }

.about_chat_info h4 {
  font-weight: 800;
  font-size: 2rem; }

.about_chat_img img {
  min-width: 700px; }

.about_task h4 {
  font-weight: 800;
  font-size: 2rem; }

.about_task h5 {
  font-size: 1.5rem; }

.about_streak {
  display: flex;
  flex-direction: column; }

.about_streak img {
  max-width: 200px !important;
  margin: auto; }

.about_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: white; }

.about_footer_inner {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.about_footer_inner a {
  margin: auto;
  margin-top: 0.5em; }

.bot_task img {
  margin-top: 6em; }

.navbar-brand,
.navbar-start,
.navbar-end {
  display: flex !important;
  justify-content: center !important; }

.hero_intro .title {
  color: white;
  font-size: 2em;
  text-shadow: 0 10px 50px rgba(0, 0, 0, 0.25); }

.joinModalButton {
  background-color: #23d260; }

.navbar {
  background-color: #0d7e83; }

.navbar-item {
  color: white !important; }

.navbar-item:hover {
  background-color: #0d7e83 !important;
  color: #c4dce2 !important; }

.section {
  background-color: #efefef;
  height: 100%; }

.streak,
.card,
.profile_card,
.user_channels_deck {
  background-color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }

.user_channels_deck .user_channels {
  display: flex;
  padding: 1em;
  flex-wrap: wrap; }

.user_channels .channel_item {
  background-color: #f79f66;
  color: white;
  padding: 0em 0.2em;
  border-radius: 0.3em;
  margin: 0.3em; }

.user_channels .channel_item a {
  color: white; }

.card_date,
.card_channel {
  padding: 1em;
  font-size: 1.5em; }

.card {
  box-shadow: 0px 0px 0px 0px;
  margin-bottom: 2em; }

.card-header {
  box-shadow: 0px 0px 0px 0px;
  border-bottom: 1px #eee solid; }

.user_content {
  border-bottom: 1px #eee solid;
  border-color: #eee;
  padding: 1.5em; }

.done_list .card .card-content,
.pending_list .card .card-content {
  padding: 3em; }

.user_content:last-child {
  border-bottom: none; }

.streak_items {
  padding-bottom: 1em; }

.streak_item {
  padding: 1em 0.5em 0.2em 1em; }

.streak_item:hover {
  background-color: #efefef; }

.media {
  align-items: center; }

.user_img {
  height: 40px;
  width: 40px; }

.user_img img {
  border-radius: 2em !important; }

.userStreak_name {
  color: black;
  font-weight: 500;
  font-size: 1em;
  display: block;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important; }

.userTask_name,
.userResource_name {
  color: black;
  font-size: 1em;
  font-weight: 500; }

.user_channels_deck {
  margin-top: 1.5em; }

.streak_title,
.user_channels_title {
  text-align: center;
  font-size: 1.3em;
  padding: 1em;
  border-bottom: 1px #eee solid; }

.streak_info {
  padding: 1em;
  border-bottom: 1px #eee solid;
  color: #555; }

.streak_badge {
  background-color: #f79f66;
  border-radius: 1rem;
  font-size: 0.7em;
  color: white;
  text-align: center;
  padding: 0.2rem 0.5rem; }

.streak_badge:hover {
  color: white; }

.userStreak_name:hover,
.userTask_name:hover,
.userResource_name:hover {
  text-decoration: underline; }

.hero_intro {
  padding: 2em; }

.hero-screenshot img {
  width: auto;
  padding: 1.2em;
  margin-right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.hero_body_index {
  padding: 0 1.5rem 0 !important; }

.task {
  margin: 0.5em 0;
  white-space: normal; }

.task a {
  word-wrap: break-word; }

.task small {
  color: #bbb; }

.task .userTask_channel,
.channels .channel_item {
  color: white;
  background-color: #f79f66;
  padding: 0em 0.2em;
  border-radius: 0.3em; }

.channels {
  display: flex;
  justify-content: space-around;
  padding: 0.2em 0; }

.main_container {
  max-width: 1200px;
  margin: 0 auto auto; }

.channels {
  background-color: #0d7e83; }

.tick_icon {
  color: #23d160; }

.profile_img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block; }

.profile_card .img_div {
  padding: 2em 0; }

.profile_card .buttons {
  display: flex;
  padding: 1em;
  justify-content: center; }

.profile_card .buttons a {
  background-color: #0d7e83;
  color: white;
  width: 100%; }

.user_details p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500; }

.user_details {
  border-bottom: 1px #eee solid;
  padding: 0 1em 1em 1em; }

.user_details .badge {
  justify-content: center;
  display: flex; }

.subnav {
  display: flex;
  margin-bottom: 1rem; }

.subnav .subnav_tab {
  display: block;
  padding: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 0.8em;
  text-align: center;
  border-radius: 2em;
  margin-right: 0.3em;
  line-height: 1;
  color: black; }

.subnav_tab_active {
  background-color: white;
  border-color: #ccc; }

.by {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 0.5em;
  border-top: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-top-left-radius: 5px;
  color: #6f6f6f; }

.by img {
  border-radius: 50%;
  vertical-align: middle;
  width: 1.5em; }

.by p {
  margin-left: 0.5em;
  font-weight: 600;
  display: inline;
  vertical-align: middle; }

#messages {
  margin-bottom: 1em; }

.join_form_modal {
  background-color: white;
  max-height: 500px;
  height: 500px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 1em; }

.join_form_modal_content {
  margin: auto;
  width: 300px; }

/* Topic */
.hero_body_topic .title {
  text-align: center;
  color: white;
  font-family: Helvetica; }

.courses .menu-label {
  margin-bottom: 1em; }

.courses .card {
  border-radius: 0;
  margin-bottom: 0.5em; }

.courses .content {
  display: flex;
  justify-content: space-between; }

.modules .menu-list a.is-active {
  background-color: #0d7e83; }

.modules .addModuleButton {
  display: block;
  margin-top: 1em; }

.addCourseButton {
  display: none; }

.addResource_modal_content,
.addCourse_modal_content,
.addModule_modal_content {
  background-color: white;
  padding: 3em;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }

.modal_title {
  text-align: center;
  margin-bottom: 0.4em; }

.topics .creator_img {
  border-radius: 50%; }

.topics .card-content {
  max-height: 230px;
  min-height: 230px; }

.topics .resource_content .title {
  font-family: "Nunito", "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 1.7em; }

.addCourseButton,
.addModuleButton,
.addResourceButton {
  border: none;
  margin-bottom: 1em; }

.resources_root .card {
  margin-bottom: 0; }

.courses_div {
  margin-bottom: 1em; }

@media screen and (max-width: 1023px) {
  .about_chat_img img {
    min-width: 0; }
  .about_footer_inner {
    flex-direction: row; }
  .about_footer_inner h5 {
    margin: auto;
    margin-right: 1em; }
  .about_hero {
    margin-bottom: 1rem;
    margin-top: 1rem; }
  .navbar-menu {
    box-shadow: 0px 0px !important;
    background-color: #0d7e83; }
  .join_form_modal_content {
    width: auto; }
  .join_form_modal {
    height: auto; }
  .streak_item .streak_content {
    flex-grow: 0 !important;
    flex-shrink: 0 !important; }
  .streak_items {
    display: flex;
    overflow-x: auto; }
  .userStreak_name {
    display: none; }
  .user_channels_deck .user_channels {
    flex-wrap: nowrap;
    overflow-x: auto; } }

@media (min-width: 768px) {
  .hero_intro .title {
    font-size: 3em; } }

@media (max-width: 568px) {
  .learnmorediv a {
    display: block; } }
